body {

    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;

}

#back {
    background-color: rgb(244, 243, 247);
    height: 40%;
    padding: 0px 0px 0px 0px;

}

nav {

    width: auto;
    display: block;
    align-items: center;
    margin: 10px;
    overflow: hidden;
    font-weight: 150;


}


ul {

    list-style-type: none;
    color: gray;
    float: right;
    display: block;
    align-items: center;

}

li {
    display: inline;
    margin: 0px 20px;
    font-size: 20px;
    color: rgb(43, 42, 42);


}


a {
    color: rgb(20, 20, 20);
    text-decoration-line: none;
}

#search-icon {

    width: 20px;
}

#buttonone {

    display: inline-block;
    color: white;

    position: relative;
    top: -30px;
    left: 18px;
    margin: 0px 20px 0px 0px;
}

#buttontwo {
    display: inline-block;
    color: white;
    padding: 10px 55px;
    position: relative;
    top: -30px;
    left: 20px;

}


#card1 {
    width: 350px;

    border: 1px solid black;
    border-radius: 5px;
    margin: 20px;
    padding: 40px 10px 10px;
    text-align: center;
    display: inline-block;
    border-color: rgba(212, 212, 212, 0.658);



}

#card2 {
    width: 350px;

    border: 1px solid black;
    border-radius: 5px;
    margin: 20px;
    padding: 40px 10px 10px;
    text-align: center;
    display: inline-block;
    border-color: rgba(212, 212, 212, 0.658);

}

#card3 {
    width: 350px;

    border: 1px solid black;
    border-radius: 5px;
    margin: 20px;
    padding: 40px 10px 10px;
    text-align: center;
    display: inline-block;
    border-color: rgba(212, 212, 212, 0.658);


}

hr {
    width: 50%;
    margin: 20px;

}

table {

    margin: 20px;

}

td {
    width: 350px;
}

#button {

    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}

input[type=text] {

    color: gray;

}

input[type=number] {
    border: none;
    color: gray;

}

input[type=email] {
    border: none;
    color: gray;

}

#contact-us {
    padding-top: 100px;
}